<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				A customizable story about how Keystoke can help your business endeavors.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="#!/create">Begin your journey</a>
			</p>
		</div>
	</div>
	<div>
		<h2>Welcome to <em>Once Upon a Keystoke</em>.</h2>
		<p>This web application was designed as a 'Choose Your Own Adventure' to help you understand more about Keystoke and when you could need their services.</p>
		<ul>
			<li>
				Customize your story to your personal interests and information.
			</li>
			<li>
				Only see information relevant to your path and information.
			</li>
			<li>
				Experience a single page angular app with MongoDB storage.
			</li>
			<li>
				Get your finished story emailed to you (Coming Soon!).
			</li>
			<li>
				Add have fun.
			</li>
		</ul>
	</div>
</section>
